<div class="modal fade" id="x-add-modal" tabindex="-1" role="dialog" aria-labelledby="x-add-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title" id="x-add-modal-title">Add Attachment</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="x-form-input">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            id="x-close-add-modal">Close</button>
                        <button type="button" class="btn btn-default" id="x-add-modal-button">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>